{% extends "/templates/admin.php.twig" %}

{% block name %}Inicio{% endblock %}
{% block content %}
    <div class="flex flex-col items-center justify-center h-full">
        <h2 class="text-3xl font-bold mb-4">Bienvenido al Panel de Administración</h2>
        <p class="text-lg text-gray-700 mb-4">Desde aquí puedes gestionar todos los aspectos de tu restaurante.</p>
    </div>
{% endblock %}