{% extends "/templates/admin.php.twig" %}

{% block title %}Crear categoría{% endblock %}

{% block name %}Crear categoría{% endblock %}
{% block content %}
    <div class="max-w-lg mx-autop-8">
        <form id="newCatForm" action="/admin/categories/add" method="POST" enctype="multipart/form-data" class="flex flex-col gap-4">
            <div>
                <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
                <input type="text" id="name" name="name" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div>
                <label for="image" class="block text-gray-700 text-sm font-bold mb-2">Imagen</label>
                <file-upload id="categoryImageUpload" name="image" class="w-full" accept-image="true" accept-video="false" image-aspect-ratio="1:1" min-image-width="256" min-image-height="256"></file-upload>
            </div>
            <button type="submit" class="btn primary flex items-center gap-2"><i data-feather="plus-square"></i> Crear categoría</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/assets/js/components/fileUpload.js"></script>
    <script>
        document.getElementById('newCatForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const nameInput = document.getElementById('name');
            const imgUpload = document.getElementById('categoryImageUpload');
            if (!nameInput.value) {
                alert('Por favor ingresa un nombre para la categoría.');
                return;
            }
            if (!imgUpload.getFileInput()) {
                alert('Por favor sube una imagen.');
                return;
            }
            const formData = new FormData();
            formData.append('name', nameInput.value);
            formData.append('image', imgUpload.getFileInput()[0]);
            fetch('/admin/categories/add', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    window.location.href = '/admin/categories';
                } else {
                    alert('Error al crear la categoría: ' + (data.message || 'Error desconocido'));
                }
            })
            .catch(error => {
                alert('Error en la solicitud. Por favor, inténtalo de nuevo más tarde.');
            });
        });
    </script>
{% endblock %}