{% extends "/templates/admin.php.twig" %}

{% block title %}Crear categoría{% endblock %}

{% block name %}Crear categoría{% endblock %}
{% block content %}
    <div class="flex flex-col h-full">
        <div class="flex items-center justify-end mb-4">
        </div>
        <form id="newCatForm" action="/admin/categories/add" method="POST" enctype="multipart/form-data">
            <div class="mb-4">
                <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Nombre:</label>
                <input type="text" id="name" name="name" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-4">
                <label for="imgUpload" class="block text-gray-700 text-sm font-bold mb-2">Imagen:</label>
                <file-upload id="imgUpload" class="w-full" accept-image="true" accept-video="false" image-aspect-ratio="1:1" min-image-width="512" max-image-width="2048"></file-upload>
            </div>
            <input type="submit" class="bg-blue-500 text-white px-4 py-2 rounded cursor-pointer" value="Crear categoría">
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/assets/js/components/fileUpload.js"></script>
    <script>
        document.getElementById('newCatForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = new FormData(this);

            // Check image in form data
            if (formData.has('image')) {
                event.target.submit();
                return;
            }

            const fileUpload = document.getElementById('imgUpload');
            const file = fileUpload.getFileInput();

            // Create a hidden input to store the file
            const fileInput = document.createElement('input');
            fileInput.type = 'file';
            fileInput.style.display = 'none'; // Hide the input
            fileInput.id = 'image';
            fileInput.name = 'image';
            //Add file to files
            fileInput.files[0] = file;

            event.target.appendChild(fileInput);
            
            //event.target.submit(); // Submit the form
        });
    </script>
{% endblock %}