{% extends "/templates/admin.php.twig" %}

{% block title %}Crear categoría{% endblock %}

{% block name %}Crear categoría{% endblock %}
{% block content %}
    <div class="max-w-lg mx-auto bg-white rounded-2xl p-8">
        <form action="/admin/categories/add" method="POST" enctype="multipart/form-data" class="flex flex-col gap-4">
            <div>
                <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
                <input type="text" id="name" name="name" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div>
                <label for="image" class="block text-gray-700 text-sm font-bold mb-2">Imagen</label>
                <file-upload id="categoryImageUpload" name="image" class="w-full" accept-image="true" accept-video="false" image-aspect-ratio="1:1" min-image-width="256" min-image-height="256"></file-upload>
            </div>
            <button type="submit" class="btn primary flex items-center gap-2"><i data-feather="plus-square"></i> Crear categoría</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/assets/js/components/fileUpload.js"></script>
    <script>
        document.getElementById('newCatForm').addEventListener('submit', function(event) {
            event.preventDefault();

            // we should create a multipart form data to send the image

            if (!document.getElementById('imgUpload').getFileInput()) {
                alert('Please upload an image.');
                return;
            }
            if (!document.getElementById('name').value) {
                alert('Please enter a category name.');
                return;
            }

            console.log(document.getElementById('imgUpload').getFileInput());

            // Create a FormData object to hold the form data
            // and the file input

            const formData = new FormData();
            formData.append('name', document.getElementById('name').value);
            formData.append('image', document.getElementById('imgUpload').getFileInput()[0]);
            
            // Send the form data using jquery
            $.ajax({
                url: '/admin/categories/add', // Cambia la URL si es necesario
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    window.location.href = '/admin/categories'; // Redirige al listado
                },
                error: function(xhr) {
                    //nada
                }
            });
        });
    </script>
{% endblock %}