<div id="sidebar" class="bg-white shadow-lg p-4 w-1/4 h-full rounded-r-lg">
    <h2 class="text-xl font-bold mb-4">Menú</h2>
    <ul class="space-y-2">
        <li><a href="/admin/" class="text-blue-500 hover:underline">Inicio</a></li>
        <li><a href="/admin/tables" class="text-blue-500 hover:underline">Mesas</a></li>
        <li><a href="/admin/categories" class="text-blue-500 hover:underline">Categorías</a></li>
        <li><a href="/admin/products" class="text-blue-500 hover:underline">Productos</a></li>
        <li><a href="/admin/composed" class="text-blue-500 hover:underline">Productos compuestos</a></li>
        {% if showPromotional %}
            <li><a href="/admin/promotional" class="text-blue-500 hover:underline">Productos promocionales</a></li>
        {% endif %}
        {% if showUsers %}
            <li><a href="/admin/users" class="text-blue-500 hover:underline">Usuarios</a></li>
        {% endif %}
        <li><a href="/admin/config" class="text-blue-500 hover:underline">Configuración</a></li>
    </ul>
</div>