<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/assets/style.css" >
            <title>{% block title %}{% endblock %} - OpenRestaurant</title>
        {% endblock %}
    </head>
    <body class="bg-[#f0f0f0] w-full h-screen flex items-center justify-center">
        <div id="content" class="container w-full h-full">{% block content %}{% endblock %}</div>

        <!-- Scripts -->

        <script src="/assets/js/jquery-3.7.1.min.js"></script>
        <script src="/assets/js/feather.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                if (window.feather) {
                    window.feather.replace();
                }
            });
        </script>
        {% block scripts %}
            
        {% endblock %}
    </body>
</html>