<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="/assets/style.css" >
            <title>{% block title %}{% endblock %} - OpenRestaurant</title>
        {% endblock %}
    </head>
    <body class="bg-[#f0f0f0] w-full h-screen flex items-center justify-center">
        <div id="content" class="container">{% block content %}{% endblock %}</div>
    </body>
</html>