{% extends "/templates/admin.php.twig" %}

{% block title %}Crear mesa{% endblock %}

{% block name %}Crear mesa{% endblock %}
{% block content %}
    <div class="max-w-lg mx-auto bg-white rounded-2xl p-8">
        <form action="/admin/tables/add" method="POST" class="flex flex-col gap-4">
            <div>
                <label for="id" class="block text-gray-700 text-sm font-bold mb-2">Nº de mesa</label>
                <input type="text" id="id" name="id" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div>
                <label for="notes" class="block text-gray-700 text-sm font-bold mb-2">Notas</label>
                <input type="text" id="notes" name="notes" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <button type="submit" class="btn primary flex items-center gap-2"><i data-feather="plus-square"></i> Crear mesa</button>
        </form>
    </div>
{% endblock %}