{% extends "/templates/admin.php.twig" %}

{% block title %}Editar mesa {{table.id}}{% endblock %}

{% block name %}Editar mesa {{table.id}}{% endblock %}
{% block content %}
    <div class="flex flex-col h-full">
        <div class="flex items-center justify-end mb-4">
        </div>
        <form action="/admin/tables/edit/{{table.id}}" method="POST">
            <div class="mb-4">
                <label for="notes" class="block text-gray-700 text-sm font-bold mb-2">Notas:</label>
                <input type="text" id="notes" name="notes" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="{{ table.notes }}">
            </div>
            <input type="submit" class="btn primary" value="Guardar cambios">
        </form>
    </div>
{% endblock %}