{% extends "/templates/admin.php.twig" %}

{% block title %}Editar mesa {{table.id}}{% endblock %}

{% block name %}Editar mesa {{table.id}}{% endblock %}
{% block content %}
    <div class="max-w-lg mx-autop-8">
        <form action="/admin/tables/edit/{{ table.id }}" method="POST" class="flex flex-col gap-4">
            <div>
                <label for="notes" class="block text-gray-700 text-sm font-bold mb-2">Notas</label>
                <input type="text" id="notes" name="notes" required  value="{{ table.notes }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <button type="submit" class="btn primary flex items-center gap-2"><i data-feather="save"></i> Guardar cambios</button>
        </form>
    </div>
{% endblock %}